---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Ensure the body takes full width and has no margin
body {
  margin: 0; /* Remove default body margin */
  width: 100%; /* Full width */
}



.post-content {
  padding-bottom: 10px; /* Adjust this value based on your button size */
}

// For navigation between projects
.navigation {
  position: relative;  /* Makes the parent container relative for positioning */
  margin-top: 20px;    /* Space above the buttons (adjust as needed) */
}

.nav-arrow {
  position: absolute;  /* Position the buttons within the navigation container */
  bottom: 0;           /* Place them at the bottom of the container */
  padding: 10px 20px;
  background-color: #555555;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  z-index: 100;
}

.nav-arrow a {
  color: white !important;
}

.prev-arrow {
  left: 10px;          /* Position the "Previous" button to the left */
}

.next-arrow {
  right: 10px;         /* Position the "Next" button to the right */
}

.nav-arrow:hover {
  background-color: #333333;
}


/* Target links inside .nav-arrow specifically */
.navigation .nav-arrow > a {
  color: white;  /* Make text color white */
  text-decoration: none;  /* Remove underline */
}

/* Hover state for .nav-arrow links */
.navigation .nav-arrow > a:hover {
  color: white;  /* Keep the text white on hover */
  text-decoration: none;  /* Ensure no underline on hover */
}