---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.swiper-container {
  width: 100%;
  height: 200px; /* Set your desired height */
}

.swiper-slide img {
  width: 100%;        /* Ensure image takes up full width */
  height: 100%;       /* Ensure image takes up full height */
  object-fit: cover;  /* Scale the image to cover the entire slide while cropping */
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  color: #555;
}
